/* Top menu */
#main{
	width:1024px;
	min-height:1600px;
	background-color:lightblue;
	margin:auto;
	margin-top:15px;
	border-radius:15px;
}
#menu{
	width:1004px;
	height:50px;
	padding:10px;
	border-radius:15px;
	background-color:white;
	
}
#menulist{
	margin-left:160px;
	
}
#menulist li{
	font-size:13px;
	display:inline;
	list-style-type:none;
	font-weight:bold;
	margin-left:20px;
	
	
}
#menulist li a{
	text-decoration:none;
	color:black;
}
#menulist li a:hover{
	font-size:16px;
	color:darkgray;
}

.heading1{
	font-weight:bold;
	margin-left:15px;
	margin-top:-45px;
	float:left;
	display:inline;
	
}
.heading1 a{
	text-decoration:none;
}
#signinbtn{
	float:right;
	background-color:blue;
	color:white;
	border-radius:10px;
	padding:10px;
	font-weight:bold;
	margin-top:-45px;
	display:inline;
	
}
#loginbtn{
	float:right;
	margin-top:-45px;
	display:inline;
	padding:10px;
	margin-right:80px;
	background-color:white;
	color:black;
	border:1px solid lightgray;
	border-radius:10px;
	font-weight:bold;
	border:1px solid lightgray;
	
}
#signinbtn:hover{
	font-size:17px;
	cursor:pointer;
	border:1px solid white;
}

#loginbtn:hover{
	font-size:17px;
	cursor:pointer;
	border:1px solid black;
}

/* end of top menu */
/* header part */
#header{
	width:1004px;
	height:600px;
	padding:10px;
	border-radius:15px;
	background-color:white;
	margin-top:10px;
}

#p1{
	width:225px;
	padding:5px;
	background-color:lightgray;
	color:rgb(76,72,223);
	border-radius:15px;
	margin-left:70px;
	margin-top:90px;
	
}

#p2{
	font-size:60px;
	font-weight:bold;
}
#spn1{
	color:blue;
}
#p3{
	font-size:18px;
	margin-top:-40px;
}
#mainimage{
	float:right;
	margin-top:-300px;
}
#spebtn{
	background-color:rgb(86,67,208);
	color:white;
	font-weight:bold;
	font-size:13px;
	padding:10px;
	text-decoration:none;
	border-radius:10px;
		
}
#commbtn{
	border:1px solid gray;
	border-radius:10px;
	padding:8px;
	color:black;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}
#spebtn:hover{
	font-size:15px;
	background-color:rgb(111,96,215);
}
#commbtn:hover{
	font-size:15px;
}
#p4{
	margin-left:150px;
	margin-top:30px;
}
/* end of header */

/* first of content */
#content{
	width:1004px;
	min-height:900px;
	background-color:pink;
	padding:10px;
	margin-top:15px;
	border-radius:15px;	
}
#topcontent{
	margin:auto;
	margin-top:15px;
	text-align:center;
	line-height:30px;
}
#spn2{
	color:blue;
	font-size:20px;
}
#spn2:hover{
	font-size:21px;
	border-bottom:1px solid blue;
	cursor:pointer;
}
#spn3{
	font-size:30px;
	font-weight:bold;
	
}
.contentbox{
	width:305px;
	height:190px;
	padding:10px;
	border-radius:15px;
	margin-top:25px;
	background-image:linear-gradient(white,lightgray);
}
#leftbox{
	float:left;
}

#rightbox{
	float:right;
}
#centerbox{
	float:right;
	margin-right:15px;
}
.cboximg{
	width:68px;
	height:57px;
	background-image:url(../images/vector.jpg);
	background-repeat:no-repeat;
	border-radius:15px;
	margin-left:230px;
	margin-top:-20px;
}
.cboximg.brain{
	background-position:0px 0;
}

.cboximg.candle{
	background-position:-62px 0;
}

.cboximg.language{
	background-position:-125px 0;
}